.pricing {
    padding-top: 135px;
    text-align: center;
    background-color: #e7edf3;
}

.h3_text_pricing {
    color: #394b50;
    font-family: "Gotham";
    font-size: 30px;
    line-height: 34px;
    font-weight: 900;
    letter-spacing: -0.75px;
    text-transform: uppercase;

    &::selection {
        background-color: #394b50;
        color: #e7edf3;
    }
}

.p_text_pricing {
    color: #75888d;
    font-family: Lato;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;

    &::selection {
        background-color: #75888d;
        color: #e7edf3;
    }
}

.box_all_cards {
    position: relative;
    margin-top: 77px;
    width: 100%;
    height: 644px;

    .section_card {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        border: 1px solid #ccd5df;
        border-radius: 3px;
        padding: 57px 31px 48px 31px;
        width: 390px;
        background-color: #ffffff;

        &:hover {
            z-index: 1;
            width: 394px;
            padding: 87px 33px 78px 33px;
            background-color: #709dca;
            border: hidden;
            top: -30px;
        }    
        &:focus-within {
            z-index: 1;
            width: 394px;
            padding: 87px 33px 78px 33px;
            background-color: #709dca;
            border: hidden;
            top: -30px;
            outline: 1px solid #ffffff;
        }
        &:hover .h4_card {
            color: #ffffff;
        }
        &:hover .span_one_p_money {
            color: #ffffff;
        } 
        &:hover .span_two_p_money {
            color: #ffffff;
        }    
        &:focus-within .h4_card {
            color: #ffffff;
        }                 
        &:hover .p_other {
            color: #c2e1ff;
            border-top: 1px solid #8eb8e2;
        }    
        &:focus-within .p_other {
            color: #c2e1ff;
            border-top: 1px solid #8eb8e2;
        }  
        &:focus-within .span_one_p_money {
            color: #ffffff;
        }    
        &:focus-within .span_two_p_money {
            color: #ffffff;
        }   
        &:nth-child(4n+1) {
            left: 0px;
        }
        &:nth-child(4n+1):hover {
            left: -2px;
            z-index: 2;
        }
        &:nth-child(4n+1):focus-within {
            left: -2px;
        }    
        &:nth-child(4n+2) {
            left: 390px;
        }
        &:nth-child(4n+2):hover {
            left: 388px;
            z-index: 2;
        }
        &:nth-child(4n+2):focus-within {
            left: 388px;
        }        
        &:nth-child(4n+3) {
            left: 780px;
        }
        &:nth-child(4n+3):hover {
            left: 778px;
            z-index: 2;
        }
        &:nth-child(4n+3):focus-within {
            left: 778px;
        }
        &::selection {
            background-color: none;
            color: none;
        }
        
        .h4_card {
            margin-bottom: 16px;
            margin-left: auto;
            margin-right: auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #818b95;
            font-family: Lato;
            font-size: 25px;
            font-weight: 300;
            text-transform: uppercase;

            &::selection {
                background-color: #709dca;
                color: #e7edf3;
            }
        }

        .p_money {
            margin-left: auto;
            margin-right: auto;

            .span_one_p_money {
                display: inline-block;
                vertical-align: bottom;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #ffbb42;
                font-family: "Lato";
                font-size: 60px;
                line-height: 60px;
                font-weight: 700;
                text-transform: uppercase;

                &::selection {
                    background-color: #ffbb42;
                    color: #ffffff;
                }
            }

            .span_sup {
                display: inline-block;
                vertical-align: super;
                font-size: 32px;
            }

            .span_two_p_money {
                display: block;
                margin-bottom: 33px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: "Lato";
                font-weight: 300;
                color: #818b95;
                font-size: 14px;
                font-weight: 300;
                text-transform: uppercase;

                &::selection {
                    background-color: #709dca;
                    color: #ffffff;
                }
            }            
        }

        .p_other {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #b5bbc1;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 40px;
            text-transform: uppercase;
            border-top: 1px solid #e2e9f0;

            &::selection {
                background-color: #709dca;
                color: #ffffff;
            }
        }

        .button_other {
            margin-top: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 131px;
            height: 42px;
            background-color: #ffbb42;
            border: 0;
            border-radius: 2px;
            color: #ffffff;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;

            &:hover {
                cursor: pointer;
            }
            &:focus {
                outline: 2px solid #ffffff;
            }
            &::selection {
                background-color: none;
                color: none;
            }
        }
    }
    
    
}